spring:
  datasource:
    url: jdbc:h2:mem:db_dev;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

logging:
  level:
    '[org.springframework.data.elasticsearch]': DEBUG
    '[org.elasticsearch.client]': DEBUG